* {
  box-sizing: border-box;
}

.font-family-proza {
  font-family:
    "Proza Libre",
    sans-serif;
  font-weight: 600px;
}

.font-color-wh {
  color: white;
}

.purple-header-color {
  background-color: #552b81;
}

.input-title-font-size-20 {
  font-size: 20px;
}

.background-color-grey {
  background-color: #f0f0f0;
}

.padding-5-10 {
  padding: 5px 10px;
}

.placeholder-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.display-flex {
  display: flex;
}

.red-line {
  border: 2px solid red;
}

.blue-line {
  border: 2px solid blue;
}

.textbox {
  width: 100%;
  resize: none;
  border: 0.5px solid #f0f0f0;
  text-align: start;
}

.data-input-box {
  width: 100%;
  height: 30px;
  border: 0.5px solid #f0f0f0;
  border-radius: 3px;
}

.align-right {
  text-align: right;
}

.save-button {
  background-color: #562b81;
  color: white;
  border-radius: 3px;
  border: none;
  height: 35px;
  width: 70px;
  position: relative;
  top: 40px;
  padding: 5px;
  font-size: 16px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.text-align-c {
  text-align: center;
}
